<%= link_to "Registrar incidente", new_issue_path %>
<div class="admin-incidentes">
  <div class="container">
  <% if @issues.active.any? %>
    <h1>Incidentes ativos</h1>
    <% @issues.active.each do |issue| %>
      <div class="incidente">
          <div class="incidente-infos">
            <span class="data">
              Criado em:
              <%= I18n.l(issue.created_at, format: :short) %>
              Última atualização em:
              <%= I18n.l(issue.updated_at, format: :short) %>
            </span>
            <div class="incidente-titulo">
              <h3><%= issue.title %></h3>
              <span class="status <%= issue.status %>"><%= issue.status %></span>
              <span class="priority <%= issue.priority %>"><%= issue.priority %></span>
            </div>
            <p class="localizacao">Localização: Segundo andar, sala B203</p>
            <p>Descrição: <%= issue.description %></p>
          </div>
          <div class="incidente-acoes">
            <%= link_to "Editar", edit_issue_path(issue) %>
            <%= button_to "Abandonar", issue, method: :delete %>
          </div>
        </div>
      <% end %>
    <% end %>

    <% if @issues.inactive.any? %>
      <h1>Incidentes inativos</h1>
      <% @issues.inactive.each do |issue| %>
        <div class="incidente">
          <div class="incidente-infos">
            <span class="data">
              Criado em:
              <%= I18n.l(issue.created_at, format: :short) %>
              Última atualização em:
              <%= I18n.l(issue.updated_at, format: :short) %>
            </span>
            <div class="incidente-titulo">
              <h3><%= issue.title %></h3>
              <span class="status <%= issue.status %>"><%= issue.status %></span>
              <span class="priority <%= issue.priority %>"><%= issue.priority %></span>
            </div>
            <p class="localizacao">Localização: Segundo andar, sala B203</p>
            <p>Descrição: <%= issue.description %></p>
          </div>
          <div class="incidente-acoes">
            <a href="#">Reabrir</a>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
