<div class="issue">
  <div class="title">
    <p>Incidente: <%= @issue.title %></p>
  </div>
  <div class="details">
    <p><b>Última atualização em:</b>
    <%= I18n.l(@issue.updated_at, format: :short) %> (criado em <%= I18n.l(@issue.created_at, format: :short) %>)</p>
    <br>
    <p><span class="status <%= @issue.status %>"><%= @issue.status %></span>
    <span class="priority <%= @issue.priority %>"><%= @issue.priority %></span></p>
  </div>


  <div class="description">
    <h1>Descrição:</h1>
    <%= @issue.description %>
  </div>
</div>
