<% content_for :menu_items do %>
  <%= link_to "Registrar incidente", new_issue_path %>
<% end %>
<div class="issue">
  <div class="title">
    <p>Incidente: <%= @issue.title %></p>
  </div>
  <div class="details">
    <p><b>Última atualização em:</b>
    <%= I18n.l(@issue.updated_at, format: :short) %> (criado em <%= I18n.l(@issue.created_at, format: :short) %>)</p>
    <p class="localizacao"><b>Localização:</b> Segundo andar, sala B203</p>
    <br>
    <p><span class="status <%= @issue.status %>"><%= @issue.status %></span>
  </div>


  <div class="description">
    <h1>Descrição:</h1>
    <%= @issue.description %>
  </div>
</div>
