<!DOCTYPE html>
<html>
  <head>
    <title>InfraIssues</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <header class="header">
      <%= link_to "Home", root_path %>
      <%= yield :menu_items %>
      <% if user_signed_in? %>
        <%= button_to "Sair", destroy_user_session_path, method: :delete, class: 'link' %>
      <% end %>
    </header>
    <% %i[notice alert].each do |type| %>
      <% if flash[type] %>
        <div class="flash <%= type %>">
          <%= flash[type] %>
        </div>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
