<!DOCTYPE html>
<html>
  <head>
    <title>InfraIssues</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
<<<<<<< 6d6b34e98c5c44e28a3dccaecdcfd961e05b46ac
    <header class="header">
      <%= link_to "Home", root_path %>      
    </header>
=======
    <%= link_to "Home", root_path %>
    <% if user_signed_in? %>
      <%= button_to "Sair", destroy_user_session_path, method: :delete %>
    <% end %>
    <% %i[notice alert].each do |type| %>
      <% if flash[type] %>
        <div class="flash <%= type %>">
          <%= flash[type] %>
        </div>
      <% end %>
    <% end %>
>>>>>>> Create users
    <%= yield %>
  </body>
</html>
